<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home">Sports Catalog</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/list">Sports List</a></li>
            <li><a href="/team">Team Lookup</a></li>
            <li><a href="/player">Player Lookup</a></li>
            <li><a href="/coachLU">Coach Lookup</a></li>
            <li><a href="/owner">Owner Lookup</a></li>
            <li><a href="/stadium">Stadium Lookup</a></li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
          <h1>Sports Catalog</h1>
          <div class="container">
                <h2>Introduction:</h2>
                <p>
                    There are a ton of sports teams out in the world, tracking allof them could be hard if you have many sports you enjoy.
                    That is where our system comes in. Our goal is to have a localized place for fans to come and view roasters,
                    owners, stadiums, and managers of specific teams. All of this data will be stored in our application and will
                    allow users to navigate and searchthe data based multiple different factors. For more information reguarding how to use the
                    system please look below.
                </p>
          </div>
          <div class="container">
                <h2>Functionality Over View:</h2>
                <p>
                    The tabs at the top of the page on the nav-bar will allow you to select how you want to search through the data.
                    This means if you know a stadium that the team uses to play, you can search by the stadium name or location under
                    the stadium tab. So and so forth for each tab. This means that each tab may return some information that are cross
                    sport. The useful part of our application is that whenyou click on one of the entries returned then we will
                    populate a page for you based on the information that you clicked. This will then link to other information that
                    is relevant to the item that you clicked. This information for the stadium could be the sport it is used for,
                    what teams play there, and so on. Each of this linking information will also be clickable and bring you to another
                    relevant page. This is how our application differs from other applications like it. We take the time to make sure that
                    all of the information is specific to what you as the user are looking for.
                </p>
          </div>
          <div class="container">
              <h2>Placeholer...</h2>
              <p>
                  ...
              </p>
          </div>
          <h1>Enjoy working with our system!</h1>
      </div>
</body>
</html>