<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/signUp.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./js/signUp.js"></script>
    <title>Sports List</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sports Catalog</a>
            <div class="navbar-header">
                    <ul class="nav navbar-nav">
                            <li><a href="/">Log in</a></li>
                    </ul>
            </div>
        </div>
    </nav>

    <form>
        <div class="form-group">
            <label id="error1"></label>
            <label class="labels">Sign Up for an Account:</label>
          <input type="text" class="form-control teamToAdd" id="userName" placeholder="User Name">
          <input type="password" class="form-control teamToAdd" id="pass1" placeholder="Password">
          <input type="password" class="form-control teamToAdd" id="pass2" placeholder="Repeat Password">
        </div>
        <div class="formButtons">
            <button type="submit" class="btn btn-default" id="create">Create Account</button>
        </div>
        <br>
        <br>
        <br>

</html>